
 /* #wpbody{ 
     background-color:royalblue ;
  }  */

  .rubium-genral-form,
  .rubium-sidebar-preview{
      display: inline;
      float:left;
  }
  .rubium-sidebar-preview{
    width: 280px;
    background-color:#1f1f1f1f;
    padding: 20px;
    margin-right:10px ;
}
.rubium-sidebar{
    display:block;
    text-align:center;
}
.image-container{
    display:block; width:100%; overflow: hidden; text-align: center;
}
.profile-picture{
    width:122px; height:122px; 
    overflow: hidden; border-radius: 50%;margin: 20px auto; background-position: center enter;background-repeat: no-repeat; background-size: cover;
}

